Criteres de recherche / Research criteria :
<br/>
<table>
  <tr>
    <td>
      <select *ngFor="let selector of selectors" (change)="selection($event, selector.name)">
        <option id="{{selector.name}}">{{selector.name}}</option>
        <option *ngFor="let value of selector.values">{{value}}</option>
      </select>
    </td>
    <td>
      &rarr;
    </td>
    <td>
      <button type="button" class="btn btn-primary" (click)="productSelection()">Selection des produits / Products selection</button>
    </td>
  </tr>
</table>
